body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}
.upload::file-selector-button
{
  display: block;
  border: 0;
  line-height: 2.5;
  display: block;
  margin: auto;
  padding: 0 20px;
  font-size: calc((2vh + 2vw)/2);
  text-align: center;
  color: #ffffff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgb(68, 241, 0);
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow:
    inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  width: 25vw;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;

}
.upload{
  text-align: center;
  font-size: calc((2vw + 2vh) /2);
  color: red;
}
.upload:hover {
  cursor: grab;
}

.upload:active {
    cursor: grabbing;
}

.hochlad{
  display: flex;
  font-size: calc((1vh + 1 vw) /2);
  width: 10vw;
  height: 10vh;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background-color: #f10000;
  box-shadow:
    inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;  
  margin: auto;
  font-size: calc((2vw + 2vh) /2);

}

.hochlad:hover {
  cursor: grab;
}

.hochlad:active {
    cursor: grabbing;
}

.link
{
  display: block;
  color: blue;
  background-color: aqua;
  border: 0;



  
}
.link:hover{
  cursor: grab;
}
.link:active{
  cursor: grabbing;
}
label{
  text-align: center;
  font-size: calc((2vw + 2vh) /2);
  color: red;
  
}
.login{
  display: flex;
  justify-content: center;
  

}

.login div {
  display: flex;
  align-items: center
}


.buttonons{
  display: flex;
  align-content: center;
  flex-direction: column;
  flex-grow: 1;
  width: 100vw;
  align-items: center;
  justify-content: center;
  

}
.buttonons form{
  display: flex;
  flex-direction: column;
}

.userlogin{
  display: block;
  text-align: center;
}
.register{ 
  display: flex;

  border: 0;
  line-height: 2.5;
  margin: auto;
  padding: 0 20px;
  font-size: calc((2vh + 2vw)/2);
  text-align: center;
  color: #ffffff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgb(68, 241, 0);
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow:
    inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;

}
.home{
  display: flex;
}
.download{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

table{
  text-align: center;
}
th{
  border: 1px solid;
}
td{
  border: 1px solid;
}
